.container {
  width: 90%;
  margin: 5%;
  padding: 20px;
  background-color: #e9e7e7;
  border-radius: 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  margin-bottom: 0.5em;
}

.card {
  background: #e9e7e7;
  /* padding: 20px; */
  border-radius: 8px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  padding: 8px 0;
  font-size: 16px;
  /* color: #444; */
  border-bottom: 1px solid #ddd;
}

.list li:last-child {
  border-bottom: none;
}

.message {
  text-align: center;
  font-size: 18px;
  color: #667;
}